<?xml version="1.0"?>
<appSettings>
    <add key="websiteEmailFrom" value="noreply@yourcompany.com"/>
    <add key="websiteEmailFromDisplayName" value="yourcompanyname"/>
    <add key="websiteEmailTo" value="contact@yourcompany.com"/>
    
    <add key="websiteUrl" value="http://www.yourdomain.com"/>
    <add key="securityKey" value="s0m3rand0mkey"/>
    <add key="websiteSupportSecureConnection" value="false"/>
    <add key="database" value="Appacts_Live"/>
</appSettings>
