<?xml version="1.0"?>
<pages controlRenderingCompatibilityVersion="3.5" theme="Default">
  <controls>
    <add tagPrefix="View" tagName="Login" src="~\App_Views\LoginView.ascx" />
    <add tagPrefix="View" tagName="ForgotPassword" src="~\App_Views\ForgotPasswordView.ascx" />

    <add tagPrefix="View" tagName="SetupAppAdd" src="~\App_Views\SetupAppAddView.ascx" />
    <add tagPrefix="View" tagName="SetupAppUpdate" src="~\App_Views\SetupAppUpdateView.ascx" />
    <add tagPrefix="View" tagName="SetupAppView" src="~\App_Views\SetupAppViewView.ascx" />
      
    <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="ajaxToolkit" />
      
    <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
           namespace="System.Web.UI.DataVisualization.Charting" tagPrefix="asp" />
      
  </controls>
</pages>