<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AppActs.Client.WebSite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="AppActs.Client.Data.WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="ReportDefinitionsSection" type="AppActs.Client.Model.ReportDefinitionsSection"/>
  </configSections>
  <appSettings configSource="App_Config\AppSettings.config"/>
  <connectionStrings configSource="App_Config\ConnectionStrings.config"/>
  <system.web>
    <sessionState timeout="180"/>
    <pages configSource="App_Config\PageControls.config"/>
    <httpModules>
      <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor"/>
    </httpModules>
    <customErrors mode="RemoteOnly">
      <error statusCode="500" redirect="Error.aspx"/>
    </customErrors>
    <machineKey validationKey="34F0B06093D70F6B92A9072412886F48E3EE7B3C0F068ADF4FE1963C583D70950A7480FFC2AC21F03891C170FD9BB0E2689766BDCB5910DFB935874709B87937" decryptionKey="3EEE5070969E29B4F6F14C4523544412DAE1F98EA65DF871202E3573F66AFD94" validation="SHA1" decryption="AES"/>
    <compilation debug="true"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644">
          <converters>
            <add name="GraphConverter" type="AppActs.Client.WebSite.App_Base.GraphConverter"/>
            <add name="GraphSeriesConverter" type="AppActs.Client.WebSite.App_Base.GraphSeriesConverter"/>
            <add name="DataTableConverter" type="AppActs.Client.WebSite.App_Base.DataTableConverter"/>
          </converters>
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.net>
    <!--<mailSettings>
      <smtp from="" deliveryMethod="Network">
        <network port="25" defaultCredentials="false" host="" password="" userName=""/>
      </smtp>
    </mailSettings>-->
  </system.net>
   <ReportDefinitionsSection configSource="App_Config\ReportDefinitions.config"/> 
   <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"/>
  </runtime>
   <applicationSettings>
      <AppActs.Client.WebSite.Properties.Settings>
         <setting name="StartupSystemUser" serializeAs="String">
            <value>
                {
                Email : "admin@admin.com",
                Name : "Admin",
                Active : true,
                ForgotPasswordGuid : '00000000-0000-0000-0000-000000000000',
                Password : "admin",
                Guid : 'B16A05EF-169A-4C1C-834A-922868D7389D'
                }

            </value>
         </setting>
         <setting name="StartupSystemPlatform" serializeAs="String">
            <value>
			[
				{ Type : 5, Name: 'Android' },
				{ Type : 4, Name: 'Blackberry' },
				{ Type : 2, Name: 'iOS' },
				{ Type : 6, Name: 'WP7' }
			]</value>
         </setting>
      </AppActs.Client.WebSite.Properties.Settings>
   </applicationSettings>
</configuration>