<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{0}, did you forget your password?</title>
</head>
<body style="font-family: Arial; font-size: 14px; margin: 0px; padding: 0px;">
    <table cellspacing="0" cellpadding="10" border="0" width="100%" bgcolor="#FFFFFF">
            <tr class="header" style="background-color: #f8f8f8; border: 5px solid #bebebe;">
                <td style="border-bottom: 1px solid #bebebe;">
                    <a href="{3}">
                        <img alt="logo" src="{3}/App_Themes/Default/Images/logo-email.png" />
                    </a>
                </td>
            </tr>

            <tr>
                <td class="content" style="padding:10px;">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tr>
                            <td>
                                <h1 style="font-size: 20px;">{0}, did you forget your password?</h1>

                                <p>We have received a request for an password reset, if you would like to reset your password click this link 
                                <a href="{1}">{1}</a> and follow instructions.</p>
                                <p>If you didn't request a password reset, just ignore this email.</p>

                            </td>
                        </tr>
        
                        <tr>
                            <td class="signiture" style="color: #000000; font-style: italic; padding: 10px 0 10px 0;">
                                {2}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>

</body>
</html>
