<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>{1} you've been added</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body style="font-family: Arial; font-size: 14px; margin: 0px; padding: 0px;">
    <table cellspacing="0" cellpadding="10" border="0" width="100%" bgcolor="#FFFFFF">
            <tr class="header" style="background-color: #f8f8f8; border: 5px solid #bebebe;">
                <td style="border-bottom: 1px solid #bebebe;">
                    <a href="{5}/">
                        <img alt="logo" src="{5}/App_Themes/Default/Images/logo-email.png" />
                    </a>
                </td>
            </tr>

            <tr>
                <td class="content" style="padding:10px;">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tr>
                            <td>
	                            <h1 style="font-size: 20px;">{1} you've been added</h1>
        
                                <p>{0} has decided to add you on to their <strong>Appacts</strong> account, please find your login information below:</p>

                                <p>
                                    Username: <strong>{2}</strong> <br />
                                    Password: <strong>{3}</strong>
                                </p>

                                <p>
                                    To start using your account head over to <a href="{5}/?login=true">{5}</a> 
                                    login page, and use information above to login.
                                </p>
                            </td>
                        </tr>
        
                        <tr>
                            <td class="signiture" style="color: #000000; font-style: italic; padding: 10px 0 10px 0;">
                                {4}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>

	</body>
</html>